* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 80vw;
}

#root {
  height: 100%;
  background-color: azure;
}

h3, p {
  margin: 8px;
}

.material-icons {
  font-family: 'Material Icons';
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

@media (max-width: 680px) {
  html {
    display: initial;
  }
  body {
    width: 100vw;
    height: 100%;
  }
}